.search-result {
    padding: 10px 20px;
  }
  
  .search-result:hover {
    background-color: #efefef;
  }

  /* Responsive styles for mobile devices (up to 767px) */
@media (max-width: 767px) {
  .search-result {
      padding: 8px 15px; /* Adjust the padding for small screens */
  }
}