.results-list {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin-top: 1rem;
    max-height: 300px;
    overflow-x: auto;
  }

/* Responsive styles for mobile devices (up to 767px) */
@media (max-width: 767px) {
  .results-list {
      max-height: none; /* Remove the max-height on small screens */
      overflow-x: hidden; /* Disable horizontal scrolling on small screens */
  }
}