.tweetBox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
  

}
/* .tweetBox__tweetButton:hover .disabled{
    color: green !important;
    background-color: red !important;
      cursor: no-drop !important;
   
} */

.tweetBox > form {
    display: flex;
    flex-direction: column;

}

.tweetBox__input {
    padding: 20px;
    display: flex;
}

.tweetBox__input > input{
    flex: 1;
    margin-left: 20px;
    border: none;
}


.tweetBox__tweetButton__disabled{
     background-color:gray !important ;
    border:  none  !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px;
    height:  40px !important;
    margin-top: 20px !important;
    margin-left: auto !important;    
   
}
.tweetBox__tweetButton__disabled:hover{
    background-color: gray !important;
 cursor: no-drop !important;
}
.tweetBox__tweetButton{
    background-color: var(--twitter-color) !important ;
    border:  none  !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px;
    height:  40px !important;
    margin-top: 20px !important;
    margin-left: auto !important;

}


.tweetBox__inputImage{
    border: none;
    padding: 10px;
    
}

/* Responsive styles for mobile devices (up to 767px) */
@media (max-width: 767px) {
    .tweetBox {
      padding-right: 5px; /* Reduce padding for small screens */
    }
  
    .tweetBox__input {
      padding: 10px; /* Reduce padding for small screens */
    }
  
    .tweetBox__input > input {
      margin-left: 10px; /* Adjust the margin for small screens */
      font-size: 14px; /* Adjust the font size for small screens */
    }
  
    .tweetBox__tweetButton,
    .tweetBox__tweetButton__disabled {
      width: 70px; /* Adjust the button width for small screens */
      height: 35px; /* Adjust the button height for small screens */
      font-size: 14px; /* Adjust the font size for small screens */
    }
  }