.explore{
    flex: 0.4;
    border-right: 1px solid var(--twitter-background); 
    min-width: fit-content;
    overflow-y: scroll;
}

/* Responsive styles for mobile devices (up to 767px) */
@media (max-width: 767px) {
    .explore {
        flex: 1; /* Expand to full width on small screens */
        min-width: 0; /* Allow the section to shrink on smaller screens */
        border-right: none; /* Remove the right border on small screens */
        border-bottom: 1px solid var(--twitter-background); /* Add a bottom border instead */
    }
}

/* Responsive styles for tablets and larger devices */
@media (min-width: 768px) {
    .explore {
        flex: 0.4; /* Adjust the width to a suitable value for tablets and larger screens */
    }
}