.notifications{
    flex: 0.4;
    border-right: 1px solid var(--twitter-background); 
    min-width: fit-content;
    overflow-y: scroll;
}

/* Responsive styles for mobile devices (up to 767px) */
@media (max-width: 767px) {
    .notifications {
        flex: 1; /* Expand to full width on small screens */
        min-width: 0; /* Allow the section to shrink on smaller screens */
        border-right: none; /* Remove the right border on small screens */
        border-bottom: 1px solid var(--twitter-background); /* Add a bottom border instead */
    }
}

/* Responsive styles for tablets and larger devices */
@media (min-width: 768px) and (max-width: 1023px) {
    .notifications {
        flex: 0.6; /* Adjust the width to a suitable value for tablets */
    }
}

/* Responsive styles for laptops (1024px to 1279px) */
@media (min-width: 1024px) and (max-width: 1279px) {
    .notifications {
        flex: 0.4; /* Adjust the width to a suitable value for laptops */
    }
}

/* Responsive styles for MacBooks and larger screens (1280px and above) */
@media (min-width: 1280px) {
    .notifications {
        flex: 0.4; /* Adjust the width to a suitable value for larger screens */
    }
}